.slideshow-container {
    position: relative;
    color: white;
    margin: auto;
    height: 100vh;
}

.mySlides img {
    width: 100%;
    height: 100%;
}


/* Hide the images by default */

.mySlides {
    display: none;
    height: 100%;
    width: 100%;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}

.texto-carrusel {
    position: absolute;
    bottom: 25%;
    left: 5%;
}

.texto-carrusel h2 {
    font-size: 50px;
    margin: 2px 0;
}

.texto-carrusel p {
    max-width: 600px;
    font-size: 30px;
}

.controles-carrusel {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}