html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*reset para REEMS - 62.5% = 10 px */
}

body {
    font-family: 'Lato', sans-serif;
}


/* UTILIDADES */

.Centrar-Texto {
    text-align: center;
}

img {
    width: 100%;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

.Texto-Mayusculas {
    text-transform: uppercase;
}

.Boton-Negro {
    background-color: #000000;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 2rem 3.6rem;
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
}

.Boton-Amarillo {
    background-color: #F9CC34;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 2rem 3.6rem;
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
}

.zoom {
    transition: all .2s ease-in-out;
}

.zoom:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}


/* NAV */

.navbar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #F9CC34;
}

.navbar a.active {
    color: white;
    display: none;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: left;
        display: block;
    }
    .navbar a.active {
        color: white;
        display: none;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .logo {
        display: none;
    }
}


/* FOOTER */

.nav-footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.footer-content {
    margin-top: 12px;
    margin-right: 20px;
}

.footer-content a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 20px;
    padding-left: 20px;
}

.nav-footer p {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 150px;
    margin-bottom: 10px;
}

.footer-content a:hover {
    color: #F9CC34;
}

.footer-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
}

.footer-imgs img {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 5px;
}

@media screen and (max-width: 750px) {
    .footer-imgs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 3px;
    }
    .footer-imgs img {
        width: 15px;
        height: 15px;
        padding-top: 15px;
        padding-right: 3px;
        padding-left: 3x;
    }
    .nav-footer p {
        font-size: 1rem;
        color: #ffffff;
        text-transform: uppercase;
        margin-left: 15px;
        padding-top: 6px;
    }
    .footer-content a {
        display: none;
    }
}


/* BOTON IR ARRIBA */

a.scroll-top {
    color: #fff;
    display: none;
    width: 45px;
    height: 40px;
    position: fixed;
    z-index: 1000;
    bottom: 60px;
    right: 30px;
    font-size: 20px;
    background: #222;
    border-radius: 3px !important;
    text-align: center;
    border: 1px solid hsla(0, 0%, 78%, 0.3)
}

a.scroll-top i {
    position: relative;
    top: 2px;
}


/* CONTENEDORES*/


/* contenedor de seccion */

.Contenedor-Seccion {
    max-width: 100%;
    margin: 6rem 0rem;
}


/* CSS para Tarjeta Simple (image, titulo, texto) */

.Tarjeta-Simple {
    width: 30rem;
    height: auto;
    padding-bottom: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    align-items: center;
    margin: 0 40px;
}

.Tarjeta-Simple img {
    width: 100%;
    height: 20rem;
    border-radius: 2rem 2rem 0rem 0rem;
}

.Contenido-Tarjeta-Simple {
    width: calc(100% - 4rem);
    padding: 0 2rem;
    margin: 0;
}

.Contenido-Tarjeta-Simple h3 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.Contenido-Tarjeta-Simple p {
    text-align: justify;
    font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
    .Tarjeta-Simple {
        width: 14rem;
        height: auto;
        padding-bottom: .5rem;
        margin: 0 10px;
    }
    .Tarjeta-Simple img {
        width: 100%;
        height: 10rem;
    }
    .Contenido-Tarjeta-Simple {
        width: calc(100% - 2rem);
        padding: 0 1rem 0 1rem;
    }
    .Contenido-Tarjeta-Simple h3 {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .Contenido-Tarjeta-Simple p {
        font-size: 1rem;
    }
}


/* CSS para tarjeta con botón */

.Tarjeta-Boton {
    width: 30rem;
    height: auto;
    padding-bottom: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    align-items: center;
}

.Tarjeta-Boton img {
    width: 100%;
    height: 20rem;
    border-radius: 2rem 2rem 0 0;
}

.Contenido-Tarjeta-Boton {
    width: calc(100% - 4rem);
    padding: 0 2rem 0px 2rem;
}

.Contenido-Tarjeta-Boton p {
    text-align: justify;
    font-size: 1.5rem;
}

.Contenido-Tarjeta-Boton h3 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.Boton-Tarjeta {
    width: calc(100% - 6rem);
    background-color: #F9CC34;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 1.5rem 3.2rem;
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
}


/* CSS para Tarjeta tipo Flip*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.flip-card-back {
    background-color: #F9CC34;
    color: white;
    transform: rotateY(180deg);
    padding: 0 1rem;
}

.flip-card-back p {
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .flip-card:hover .flip-card-inner {
        transform: rotateY(0deg);
    }
    .flip-card {
        width: 135px;
        height: 135px;
    }
}


/* CSS para tarjeta de Blog principal */

.Tarjeta-Blog-Ext {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}

.Tarjeta-Blog-Ext img {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
}

.Blog-Categoria {
    margin-top: -1px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    background-color: #efb203;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    margin: 0;
}

.Contenido-Tarjeta-Blog-Ext {
    padding: 10px 10px;
    margin-top: 0px;
    height: auto;
}

.Contenido-Tarjeta-Blog-Ext p {
    font-size: 15px;
    text-decoration: none;
    text-align: justify;
}

.Contenido-Tarjeta-Blog-Ext h4 {
    font-size: 15px;
    margin: 0;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .Tarjeta-Blog-Ext {
        width: 180px;
        margin: 10px;
    }
    .Contenido-Tarjeta-Blog-Ext p {
        font-size: 10px;
    }
    .Contenido-Tarjeta-Blog-Ext h4 {
        font-size: 10px;
    }
    .Blog-Categoria {
        font-size: 10px;
    }
    .Tarjeta-Blog-Ext img {
        height: 100px;
    }
}


/*CSS para tarjetas de proyectos*/

.tarjeta-proyecto {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

.tarjeta-proyecto-imagen {
    width: 90%;
    height: 100%;
}

.tarjeta-proyecto-texto {
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
}

.tarjeta-proyecto-texto h3 {
    transform: rotate(-90deg);
    margin-top: 150px;
    color: white;
}


/* PAGINAS */


/* Index */


/* seccion más sobre nosotros */

.Contenido-Nosotros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.Contenido-Nosotros div {
    margin-bottom: 10px;
}


/* Seccion de servicios */

.Contenido-Servicios {
    margin: 0 10%;
}

.tab {
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab button {
    width: 25%;
    margin: 0;
    background-color: #F9CC34;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.4rem 1.6rem;
    transition: 0.3s;
    font-size: 1.7rem;
    margin-right: 6.25%;
    margin-left: 6.25%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    width: 80%;
    height: 40rem;
    display: none;
    border-top: none;
    margin: 0;
}

.tabcontent img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .tabcontent {
        width: 98%;
        height: auto;
    }
    .tab {
        width: 98%;
    }
    .tab button {
        padding: 1rem 1.2rem;
        font-size: 1rem;
        margin-right: 6.25%;
        margin-left: 6.25%;
    }
}


/* Sección de trabajos*/

.Contenido-Trabajos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.Contenido-Trabajos a {
    margin: 20px;
}

@media screen and (max-width: 750px) {
    .Contenido-Trabajos {
        width: 100%;
        padding: 0;
    }
    .Contenido-Trabajos a {
        margin: 10px;
    }
}


/*Sección de clientes*/

.Contenido-Clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card-indicadores {
    background-color: #F9CC34;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-indicadores svg {
    margin-top: 30px;
}

.Contenido-Clientes div {
    margin: 0 20px;
    width: 25%;
}

@media screen and (max-width: 750px) {
    .Contenido-Clientes div {
        margin: 10px 20px;
        width: 80%;
    }
}


/* Sección de Contacto */

.Contenido-Contacto {
    width: 100%;
    height: 200px;
    padding: 2rem 0;
    margin: 0;
    background-color: #F9CC34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Sección de Blog */

.Contenido-Blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Contenido-Blog a {
    text-decoration: none;
    margin: 20px;
}

@media screen and (max-width: 750px) {
    .Contenido-Blog a {
        margin: 10px 3px;
    }
}


/* NOSOTROS */


/* contenido acerca de */

.Contenido-Acerca {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #efb203;
}

.Contenido-Acerca img {
    width: 40%;
    height: auto;
}

.texto-acerca-de {
    width: 60%;
    padding: 30px;
}

.texto-acerca-de p {
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 750px) {
    .oculto-responsivo {
        display: none;
    }
    .texto-acerca-de p {
        font-size: 15px;
    }
    .Contenido-Acerca h1 {
        font-size: 3rem;
    }
}


/* Equipo */

.tarjeta-equipo {
    margin: 0 10px;
    background-color: #efb203;
    color: #ffffff;
}


/* PORTAFOLIO */

.Contenido-Portafolio {
    position: relative;
    height: 45rem;
}

.Contenido-Portafolio img {
    height: 100%;
    width: 100%;
}

.text-block {
    position: absolute;
    width: 60%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.text-block p {
    font-size: 2rem;
}

.contenido-portafolio-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Pagina de trabajo */

.Contenido-Proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin-bottom: 30px;
}

.Image-Proyecto {
    position: relative;
    margin: 5px;
}

.Image-Proyecto img {
    width: 100%;
    height: 100%;
}

.Image-Proyecto div {
    display: none;
    transition: display 3s;
}

.Contenido-Image-Proyecto {
    position: absolute;
    top: 0;
    margin: 2.5% 5%;
    height: 90%;
    width: 90%;
}

.Contenido-Image-Proyecto h2 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 40px;
    margin-top: 25%;
}

.Image-Proyecto:hover div {
    display: block;
    border: 3px solid white;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* PAGINA CONTACTO */

.tab-contacto {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 100%;
}

.tab-contacto button {
    display: block;
    background-color: inherit;
    color: black;
    font-size: 15px;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab-contacto button:hover {
    background-color: #ddd;
}

.tab-contacto button.active {
    background-color: #ccc;
}

.tabcontent-contacto {
    float: left;
    border: 1px solid #ccc;
    width: 80%;
    height: 100%;
    margin-left: 2%;
    padding: 0 5px;
}

.Campo-Formulario {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
}

.Campo-Formulario input {
    padding: 8px 5px;
    border: 1px solid #000000;
}

.Campo-Formulario input:focus {
    padding: 8px 5px;
    border: 1px solid #F9CC34;
}

.Campo-Formulario select {
    padding: 8px 5px;
    border: 1px solid #000000;
    background-color: #fff;
}

.Campo-Formulario textarea:focus {
    border: 1px solid #F9CC34;
}

.Campo-Formulario textarea {
    resize: none;
    border: 1px solid #000000;
}

.Contenido-Contacto-Form {
    margin: 20px 10%;
    margin-bottom: 60px;
    height: 900px;
}

.contacto-proyecto fieldset {
    margin-bottom: 25px;
}


/* PAGINA BLOG */

.Blog-Blog {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.Blog-Blog div {
    margin: 15px;
}

.Blog-Blog a {
    text-decoration: none;
}