#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    font-family: 'object-fit: cover';
}

#hero div {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    font-family: 'object-fit: cover';
}

#imagen-fondo {
    position: relative;
    text-align: center;
    color: white;
    background-color: #000;
}

#imagen-fondo img {
    width: auto;
    height: 100vh;
}

.centered {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img {
    width: 150px;
    height: 150px !important;
}

@media screen and (max-width: 750px) {
    .centered {
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered img {
        width: 60px;
        height: 60px !important;
    }
}

.centered img:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}